body {
    background-image:url(Background.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}


.contact-form {
    display: flex;
    justify-content: center;
    border: solid 2px black;
    height: 500px;
    width: 400px;
}

@keyframes crocodile {
    from {
        transform:translate(0px);
    }
    to {
        transform:translate(1000px)
    }
}


.crocodile img {
    position:relative;
    display:flex;
    height:300px;
    width:300px;
}

.crocodile {
    animation: crocodile 2s ease-in-out infinite;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 1%, rgba(12,196,71,1) 20%);
}

.contact-form h2 {
    font-size: 30px;
    text-decoration: underline;
    margin-top: 80px;
    padding-top: 0;
    color: white;
    margin-left: 20px;
}

.contact-form label, .contact-form input {
    margin-top: 30px;
    height: 20px;
}

.contact-form .submit-button {
    font-size: 20px;
    height: 30px;
}

.dino img {
    position:relative;
    display:flex;
    height:300px;
    width:300px;
    top: -500px;
    left: -400px;
}

@keyframes dino {
    0%,
    20%,
    50%,
    80%,
    100%{
        transform:translate(0px);
    }
    50% {
        transform:translate(1000px)
    }
}

.dino {
    animation: dino 4s infinite 2s alternate ;
}

.lastdino img {
    position:relative;
    display:flex;
    height:300px;
    width:300px;
    top: -1300px;
    right: -100px;
}

.lastdino {
    animation: lastdino 4s infinite 2s alternate ;
}

@keyframes lastdino {
    0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(360deg);
      }    
}